<h1>勤怠管理App トップページ</h1>

<div class="top-menu">

<%= link_to "管理者ログイン", admin_session_path, class: "btn btn-info btn-lg login-btn" %>

<%= link_to "ユーザーログイン", user_session_path, class: "btn btn-info btn-lg login-btn" %>

</div>